.app-home{
    height: 100%;
    overflow-x: hidden;
}

.main-content-container{
    display: flex;
}

.main-content-container .table-responsive{
    font-size: 10px;
    max-width: 20%;
    margin-left: 1em;
}